/*
акцент #2196F3;
цвет заголовков #212121;
цвет текста #757575;
текст белый #FFFFFF;
*/

:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --text-color: #757575;
  --heading-color: #212121;
  --light-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --social-link-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px;
}

body {
  padding-top: 80px;
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-color);
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Шапка сайта */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo .web {
  color: var(--accent-color);
}

.main-menu {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
}

.menu-items {
  margin-right: 50px;
}

.menu-items:last-child {
  margin-right: 0;
}

.nav-list {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}

.nav-list:hover,
.nav-list:focus {
  color: var(--accent-color);
}

.nav-list.current {
  position: relative;
  color: var(--accent-color);
}

.nav-list.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-flex;
  border-radius: 2px;
  background: var(--accent-color);
  border: 2px solid;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-items {
  margin-right: 50px;
}

.contacts-items:last-child {
  margin-right: 0;
}

.contacts {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* .icon-mail::before {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  content: "";
  background-image: url("../images/mail.svg");
}

.icon-phone::before {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  content: "";
  background-image: url("../images/smartphone.svg");
} */

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* Страница Студия */

/* Hero */

.hero {
  min-height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  text-align: center;
  padding-top: 200px;
}

.title-container {
  width: 696px;
  margin: 0 auto;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
}

/* Преимущества компании */

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

.benefits-list {
  display: flex;
}

.benefits-item {
  width: 270px;
  margin-right: 30px;
}

.benefits-item:last-child {
  margin-right: 0;
}

.benefits-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--light-background-color);
  border-radius: 4px;
}

.benefits-icon {
  width: 70px;
  height: 70px;
}

.benefits-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading-color);
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Возможности компании */

.capabilities {
  padding-bottom: 94px;
}
.work {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-item {
  margin-right: 30px;
}

.work-item:last-child {
  margin-right: 0;
}

.work-img {
  position: relative;
}

.work-img > img {
  display: block;
}

.work-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
}

/* Сотрудники */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--light-background-color);
}

.team-title {
  margin-bottom: 50px;
}

.employee-list {
  display: flex;
}

.employee-items {
  margin-right: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee-items:last-child {
  margin-right: 0;
}

.employee-image {
  margin-bottom: 30px;
}

.employee-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-color);
}

.employee-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.employee-list.social {
  justify-content: space-around;
  margin: 16px 32px 30px;
}

.icon-staff {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--social-link-color);
}

.employee-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.icon-staff:hover,
.icon-staff:focus {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Постоянные клиенты */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  color: var(--social-link-color);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client-icono {
  width: 44px;
  height: 49px;
  fill: currentColor;
}

.client-icont {
  width: 40px;
  height: 52px;
  fill: currentColor;
}

.client-iconth {
  width: 41px;
  height: 43px;
  fill: currentColor;
}

.client-iconf {
  width: 80px;
  height: 42px;
  fill: currentColor;
}

.client-iconff {
  width: 59px;
  height: 47px;
  fill: currentColor;
}

.client-iconsx {
  width: 88px;
  height: 45px;
  fill: currentColor;
}

/* Страница Портфолио */

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.category {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.category-button {
  margin-right: 8px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-color);
  cursor: pointer;

  background-color: var(--light-background-color);
  border-radius: 4px;
}

.category-button:hover,
.category-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3-30px);
}

.projects-items {
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-items:nth-child(3n + 3) {
  margin-right: 0px;
}

.projects-items:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-link {
  display: inline-block;
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-link:hover .projects-text {
  opacity: 1;
}
.projects-overlay {
  position: relative;
}

.projects-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  opacity: 0;
}

.project-description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-image {
  display: block;
}

.category-project {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--heading-color);
}

.category-name {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-color);
}

/* Футер */

footer {
  background-color: var(--dark-background-color);
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
}

.footer-contacts {
  margin-right: 70px;
}

.logo.footer {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.studio {
  color: var(--white-color);
}

address,
.contacts-footer {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.contacts-footer:last-child {
  margin-bottom: 0;
}

.contacts-footer {
  display: block;

  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer:last-child {
  margin-bottom: 0px;
}

.footer-social {
  padding-top: 12px;
}

.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: var(--white-color);
}

.social-list {
  display: flex;
}

.social-list > li {
  margin-right: 10px;
}

.social-list > li:last-child {
  margin-right: 0;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  width: 20px;
  height: 20px;
}
